@import '/src/style/variables.scss';
@import '/src/style/common.scss';
@import '/src/style/reset.scss';
@import '../PostList.scss';

.postList {
  .postListContainer {
    width: 100%;
    height: auto;
    display: flex;
    padding: 0px 8px 24px 8px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    padding: 0px 8px 24px 8px;
    border-bottom: 1px solid var(--grey-90, #e6e6e6);
    margin-bottom: 24px;

    @include body1;

    .writerDesktop {
      display: flex;
      justify-content: space-between;
      align-items: center;
      align-self: stretch;

      .userInfoWrap {
        display: flex;
        align-items: center;

        .profileImg {
          width: 48px;
          height: 48px;
          border-radius: 50%;
          margin-right: 16px;
          background-size: cover;
        }

        .nameProfile {
          @include nameDekstop;
        }
      }

      .functionWrap {
        display: flex;
        align-items: center;

        .dateInfo {
          @include body2;
          color: $grey60;
          margin-left: 16px;
        }

        .deleteBtn {
          @include body2;
          color: $red;
        }

        .modifyBtn {
          @include body2;
          color: $black;
        }

        button {
          margin-left: 16px;
          border: 0;
          background-color: transparent;
          padding: 0;
        }
      }
    }

    .postTextContainer {
      p {
        @include body1;
      }
    }

    .actionInfo {
      display: flex;
      flex-direction: column;
      color: $grey60;

      gap: 8px;
      width: 100%;
      height: auto;
      @include body2;

      .actionWrap {
        display: flex;
        flex-direction: row;
        padding: 0 4px;

        gap: 12px;
        color: $grey60;
        @include body2;
      }

      .heartIcon {
        width: 32px;
        height: 32px;
        cursor: pointer;
      }
    }
  }
}
