@import './variables.scss';

@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff')
    format('woff');
}

* {
  box-sizing: border-box;
  font-family: 'Pretentard';
}
body {
  background-color: $grey98;
}
#root {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
article {
  position: relative;
  width: 576px;
  height: 80vh;
  background-color: $white;
  border: 1px solid #e5e5e5;
  border-radius: 16px;
  padding: 40px 24px;
  overflow: auto;
}
