@import '/src/style/variables.scss';
@import '/src/style/common.scss';
@import '/src/style/reset.scss';

@mixin body1 {
  font-family: Apple SD Gothic Neo;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}

@mixin body2 {
  font-family: Apple SD Gothic Neo;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
}

@mixin nameDekstop {
  font-family: Apple SD Gothic Neo;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

@mixin label {
  font-family: Apple SD Gothic Neo;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

article {
  .postList {
    overflow-y: scroll;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  .bottomAction {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 8px;
    width: 100%;
    height: auto;
    margin-top: 24px;

    .writeBtn {
      display: flex;
      width: 120px;
      height: var(--input-height, 56px);
      padding: 0px 34px;
      justify-content: center;
      align-items: center;

      border-radius: 6px;
      background: var(--blue, #2d71f7);

      border: 0;
      color: $white;
      @include label;
    }
  }
}
